/*
title: rgb(255, 221, 179)
background: rgb(252, 242, 230)
second color: rgb(115, 115, 115)
*/

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Square {
  height: 40px;
  width: 40px;
  min-height: 40px; /* Minimum yükseklik */
  min-width: 40px;  /* Minimum genişlik */
  max-height: 40px; /* Maksimum yükseklik */
  max-width: 40px;  /* Maksimum genişlik */
  background-color: #769656;
  position: relative;
}

.Square.highlighted {
  background-color: rgb(255, 255, 139);
}

.Wall.horizontal {
  height: 4px;
  width: 40px;
  min-height: 4px; /* Minimum yükseklik */
  min-width: 40px;  /* Minimum genişlik */
  max-height: 4px; /* Maksimum yükseklik */
  max-width: 40px;  /* Maksimum genişlik */
  background-color: #EEEED2;
}

.Wall.vertical {
  height: 40px;
  width: 4px;
  min-height: 40px; /* Minimum yükseklik */
  min-width: 4px;  /* Minimum genişlik */
  max-height: 40px; /* Maksimum yükseklik */
  max-width: 4px;  /* Maksimum genişlik */
  background-color: #EEEED2;
}

.Wall.hovered {
  background-color: rgb(68, 68, 68);
} 

.Wall.clicked {
  background-color: black;
}

.Space {
  height: 6.8px;
  width: 6.8px;
  min-height: 6.8px; /* Minimum yükseklik */
  min-width: 6.8px;  /* Minimum genişlik */
  max-height: 6.8px; /* Maksimum yükseklik */
  max-width: 6.8px;  /* Maksimum genişlik */
  background-color: #EEEED2;
}
.Space.clicked{
  height: 6.8px;
  width: 6.8px;
  min-height: 6.8px; /* Minimum yükseklik */
  min-width: 6.8px;  /* Minimum genişlik */
  max-height: 6.8px; /* Maksimum yükseklik */
  max-width: 6.8px;  /* Maksimum genişlik */
  background-color: black;
}
.Space.hovered{
  height: 6.8px;
  width: 6.8px;
  min-height: 6.8px; /* Minimum yükseklik */
  min-width: 6.8px;  /* Minimum genişlik */
  max-height: 6.8px; /* Maksimum yükseklik */
  max-width: 6.8px;  /* Maksimum genişlik */
  background-color: rgb(68, 68, 68);
}








