/*
title: rgb(255, 221, 179)
background: rgb(252, 242, 230)
second color: rgb(115, 115, 115)
*/

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 50px;
}

.Square {
  height: 60px;
  width: 60px;
  min-height: 60px; /* Minimum yükseklik */
  min-width: 60px;  /* Minimum genişlik */
  max-height: 60px; /* Maksimum yükseklik */
  max-width: 60px;  /* Maksimum genişlik */
  background-color: #769656;
  position: relative;
}

.Square.highlighted {
  background-color: rgb(255, 255, 139);
}

.Wall.horizontal {
  height: 6px;
  width: 60px;
  min-height: 6px; /* Minimum yükseklik */
  min-width: 60px;  /* Minimum genişlik */
  max-height: 6px; /* Maksimum yükseklik */
  max-width: 60px;  /* Maksimum genişlik */
  background-color: #EEEED2;
}

.Wall.vertical {
  height: 60px;
  width: 6px;
  min-height: 60px; /* Minimum yükseklik */
  min-width: 6px;  /* Minimum genişlik */
  max-height: 60px; /* Maksimum yükseklik */
  max-width: 6px;  /* Maksimum genişlik */
  background-color: #EEEED2;
}

.Wall.hovered {
  background-color: rgb(68, 68, 68);
} 

.Wall.clicked {
  background-color: black;
}

.Space {
  height: 10px;
  width: 10px;
  min-height: 10px; /* Minimum yükseklik */
  min-width: 10px;  /* Minimum genişlik */
  max-height: 10px; /* Maksimum yükseklik */
  max-width: 10px;  /* Maksimum genişlik */
  background-color: #EEEED2;
}
.Space.clicked{
  height: 10px;
  width: 10px;
  min-height: 10px; /* Minimum yükseklik */
  min-width: 10px;  /* Minimum genişlik */
  max-height: 10px; /* Maksimum yükseklik */
  max-width: 10px;  /* Maksimum genişlik */
  background-color: black;
}
.Space.hovered{
  height: 10px;
  width: 10px;
  min-height: 10px; /* Minimum yükseklik */
  min-width: 10px;  /* Minimum genişlik */
  max-height: 10px; /* Maksimum yükseklik */
  max-width: 10px;  /* Maksimum genişlik */
  background-color: rgb(68, 68, 68);
}








