/*
title: rgb(255, 221, 179)
background: rgb(252, 242, 230)
second color: rgb(115, 115, 115)
*/

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding inside the container */
    border-radius: 10px; /* Optional: Round the corners for a smoother look */
    position: relative; /* To allow absolute positioning of the header */
    max-height:1100px;
}

.game-title{
    font-size: 4rem; /* Make the text bigger */
    margin-bottom: 1em;
    margin-top: -1em;
    color: rgb(255, 221, 179); /* Yellow */
    text-align: center;
    text-shadow:
        -2px -2px 0 #000,  
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000; /* Four shadows creating a black outline */

}

.name{
    border-radius: 5px;
    border: 2px solid rgb(115, 115, 115); /* Orange border */
    background-color: rgb(255, 221, 179); /* Dark background */
    color: rgb(115, 115, 115); /* White text inside the input */
    max-width: fit-content;
    margin: 1em;
    padding: 0.5em;
    font-weight: bold;
}

.game-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Genişliği sınırlamak isteyebilirsiniz */
}

.player-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.up {
    position:relative;
    top: 0; /* Üst kısmına yapışık */
}

.down {
    position: absolute;
    bottom: 0; /* Alt kısmına yapışık */
}

.notation-section {
    background-color: #EEEED2;
    color: #000000;
    padding: 10px;
    border-radius: 8px;
    width: 180px;
    font-family: Arial, sans-serif;
}

.notation-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.notation-header span {
    font-weight: bold;
}

.notation-content {
    display: flex;
    flex-direction: column;
}

.notation-moves {
    display: flex;
    flex-direction: column;
}

.notation-move {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.notation-move span {
    font-size: 14px;
}

.move {
    padding: 2px 6px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
}
